

body{

	
	text-align: center;
	position: relative;
}

.myContainer{
	width: 80%;
	margin: auto;
	overflow: hidden;

}

.nav-link{

	color: #fff !important;
}
.nav-tabs{
	border:none;
}

.nav-link.active {
  color: #D90A8C !important;
  background: none !important;
  border-bottom: 1px solid #D90A8C !important;
	border-top: none;
	border-left: none;
	border-right: none;
}

.nav-link:hover{

	color:#D90A8C !important;
	border-bottom: 1px solid #D90A8C !important;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-bottom: 5px !important; 
}

.navbar-brand{

	font-size: 300%;

}

.navbar{
	padding-bottom: 1px !important;
	padding-top: 1px !important;
	border-bottom: 3px solid #D83F78 !important;
}

#signIn{

	margin-top: 40px;
}

input{

	
	padding-left: 20px;
}

.card .card-body{

	text-align: justify;
}

.card-img-top{

	height:200px;
}




.jumbotron{

          background:url("photos/jumbo1.jpg") ;
          height: 70vh;
          background-size: cover;
          background-repeat: no-repeat;
          text-align: center;
          margin-top: 50px;

}

.textJumbo{
	color:#000;
	margin-top: 250px;

}

#footer{
          color:#fff;
          background-color:#000;
          padding-top: 150px;
          padding-bottom: 150px;
          margin-top: 50px;
          text-align: center;

}

#icon{

          width:200px;
}

#about{

	margin-top: 100px;
}

@media screen and (max-width: 768px){

		.textJumbo h1{
			font-size: 300% !important;
			margin-top: -50px !important;

			color:#D83F78;
		}

		#semafor{

			float: none;
			margin:auto;
		}


		#quick_add_form{
			margin: 100px 10px 50px 50px !important;
			
			width: 100% !important;

			

		}

		#quick_add_form .btn{
			
			float: left;
			margin:auto;
		}
		#div_id_category, #div_id_value{
			margin:auto;
			padding-bottom: 5px;
			width: 62%;
		}
		

		#quick{
			
			margin-top: 10px;
			margin-right: 50%; 
			
		}


}